In [ ]:
#SQLite

In [1]:
#1: Read all the data from bc.csv, how many rows is there ? Columns ?
import pandas as pd

df = pd.read_csv("C:/Users/celes/OneDrive/Documents/M1/S2/Infrastructures/NoSQL/data/Chap1/bc.csv")
df
#569 lignes et 33 colonnes

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

In [2]:
# 2: Insert the bc.csv in the sqlite format.
import sqlite3

conn = sqlite3.connect('C:/Users/celes/OneDrive/Documents/M1/S2/Infrastructures/NoSQL/data/Chap1/bc.db')

# Insérez le DataFrame dans la table de la base de données SQLite
df.to_sql('bc_table', conn, if_exists='replace', index=False)

c = conn.cursor()

#Test
c.execute("""SELECT * FROM bc_table WHERE "area_mean" > 1300""")

docs = c.fetchall()
print(docs)

[(842517, 'M', 20.57, 17.77, 132.9, 1326.0, 0.08474, 0.07864, 0.0869, 0.07017, 0.1812, 0.05667, 0.5435, 0.7339, 3.398, 74.08, 0.005225, 0.01308, 0.0186, 0.0134, 0.01389, 0.003532, 24.99, 23.41, 158.8, 1956.0, 0.1238, 0.1866, 0.2416, 0.186, 0.275, 0.08902, None), (851509, 'M', 21.16, 23.04, 137.2, 1404.0, 0.09428, 0.1022, 0.1097, 0.08632, 0.1769, 0.05278, 0.6917, 1.127, 4.303, 93.99, 0.004728, 0.01259, 0.01715, 0.01038, 0.01083, 0.001987, 29.17, 35.59, 188.0, 2615.0, 0.1401, 0.26, 0.3155, 0.2009, 0.2822, 0.07526, None), (8611555, 'M', 25.22, 24.91, 171.5, 1878.0, 0.1063, 0.2665, 0.3339, 0.1845, 0.1829, 0.06782, 0.8973, 1.474, 7.382, 120.0, 0.008166, 0.05693, 0.0573, 0.0203, 0.01065, 0.005893, 30.0, 33.62, 211.7, 2562.0, 0.1573, 0.6076, 0.6476, 0.2867, 0.2355, 0.1051, None), (86355, 'M', 22.27, 19.67, 152.8, 1509.0, 0.1326, 0.2768, 0.4264, 0.1823, 0.2556, 0.07039, 1.215, 1.545, 10.05, 170.0, 0.006515, 0.08668, 0.104, 0.0248, 0.03112, 0.005037, 28.4, 28.01, 206.8, 2360.0, 0.1701, 0.6997, 0.9608, 0.291, 0.4055, 0.09789, None), (865423, 'M', 24.25, 20.2, 166.2, 1761.0, 0.1447, 0.2867, 0.4268, 0.2012, 0.2655, 0.06877, 1.509, 3.12, 9.807, 233.0, 0.02333, 0.09806, 0.1278, 0.01822, 0.04547, 0.009875, 26.02, 23.99, 180.9, 2073.0, 0.1696, 0.4244, 0.5803, 0.2248, 0.3222, 0.08009, None), (8712289, 'M', 23.27, 22.04, 152.1, 1686.0, 0.08439, 0.1145, 0.1324, 0.09702, 0.1801, 0.05553, 0.6642, 0.8561, 4.603, 97.85, 0.00491, 0.02544, 0.02822, 0.01623, 0.01956, 0.00374, 28.01, 28.22, 184.2, 2403.0, 0.1228, 0.3583, 0.3948, 0.2346, 0.3589, 0.09187, None), (873592, 'M', 27.22, 21.87, 182.1, 2250.0, 0.1094, 0.1914, 0.2871, 0.1878, 0.18, 0.0577, 0.8361, 1.481, 5.82, 128.7, 0.004631, 0.02537, 0.03109, 0.01241, 0.01575, 0.002747, 33.12, 32.85, 220.8, 3216.0, 0.1472, 0.4034, 0.534, 0.2688, 0.2856, 0.08082, None), (873593, 'M', 21.09, 26.57, 142.7, 1311.0, 0.1141, 0.2832, 0.2487, 0.1496, 0.2395, 0.07398, 0.6298, 0.7629, 4.414, 81.46, 0.004253, 0.04759, 0.03872, 0.01567, 0.01798, 0.005295, 26.68, 33.48, 176.5, 2089.0, 0.1491, 0.7584, 0.678, 0.2903, 0.4098, 0.1284, None), (878796, 'M', 23.29, 26.67, 158.9, 1685.0, 0.1141, 0.2084, 0.3523, 0.162, 0.22, 0.06229, 0.5539, 1.56, 4.667, 83.16, 0.009327, 0.05121, 0.08958, 0.02465, 0.02175, 0.005195, 25.12, 32.68, 177.0, 1986.0, 0.1536, 0.4167, 0.7892, 0.2733, 0.3198, 0.08762, None), (8810703, 'M', 28.11, 18.47, 188.5, 2499.0, 0.1142, 0.1516, 0.3201, 0.1595, 0.1648, 0.05525, 2.873, 1.476, 21.98, 525.6, 0.01345, 0.02772, 0.06389, 0.01407, 0.04783, 0.004476, 28.11, 18.47, 188.5, 2499.0, 0.1142, 0.1516, 0.3201, 0.1595, 0.1648, 0.05525, None), (88206102, 'M', 20.51, 27.81, 134.4, 1319.0, 0.09159, 0.1074, 0.1554, 0.0834, 0.1448, 0.05592, 0.524, 1.189, 3.767, 70.01, 0.00502, 0.02062, 0.03457, 0.01091, 0.01298, 0.002887, 24.47, 37.38, 162.7, 1872.0, 0.1223, 0.2761, 0.4146, 0.1563, 0.2437, 0.08328, None), (88299702, 'M', 23.21, 26.97, 153.5, 1670.0, 0.09509, 0.1682, 0.195, 0.1237, 0.1909, 0.06309, 1.058, 0.9635, 7.247, 155.8, 0.006428, 0.02863, 0.04497, 0.01716, 0.0159, 0.003053, 31.01, 34.51, 206.0, 2944.0, 0.1481, 0.4126, 0.582, 0.2593, 0.3103, 0.08677, None), (883263, 'M', 20.48, 21.46, 132.5, 1306.0, 0.08355, 0.08348, 0.09042, 0.06022, 0.1467, 0.05177, 0.6874, 1.041, 5.144, 83.5, 0.007959, 0.03133, 0.04257, 0.01671, 0.01341, 0.003933, 24.22, 26.17, 161.7, 1750.0, 0.1228, 0.2311, 0.3158, 0.1445, 0.2238, 0.07127, None), (884948, 'M', 20.94, 23.56, 138.9, 1364.0, 0.1007, 0.1606, 0.2712, 0.131, 0.2205, 0.05898, 1.004, 0.8208, 6.372, 137.9, 0.005283, 0.03908, 0.09518, 0.01864, 0.02401, 0.005002, 25.58, 27.0, 165.3, 2010.0, 0.1211, 0.3172, 0.6991, 0.2105, 0.3126, 0.07849, None), (88995002, 'M', 20.73, 31.12, 135.7, 1419.0, 0.09469, 0.1143, 0.1367, 0.08646, 0.1769, 0.05674, 1.172, 1.617, 7.749, 199.7, 0.004551, 0.01478, 0.02143, 0.00928, 0.01367, 0.002299, 32.49, 47.16, 214.0, 3432.0, 0.1401, 0.2644, 0.3442, 0.1659, 0.2868, 0.08218, None), (8910988, 'M', 21.75, 20.99, 147.3, 1491.0, 0.09401, 0.1961, 0.2195, 0.1088, 0.1721, 0.06194, 1.167, 1.352, 8.867, 156.8, 0.005687, 0.0496, 0.06329, 0.01561, 0.01924, 0.004614, 28.19, 28.18, 195.9, 2384.0, 0.1272, 0.4725, 0.5807, 0.1841, 0.2833, 0.08858, None), (89812, 'M', 23.51, 24.27, 155.1, 1747.0, 0.1069, 0.1283, 0.2308, 0.141, 0.1797, 0.05506, 1.009, 0.9245, 6.462, 164.1, 0.006292, 0.01971, 0.03582, 0.01301, 0.01479, 0.003118, 30.67, 30.73, 202.4, 2906.0, 0.1515, 0.2678, 0.4819, 0.2089, 0.2593, 0.07738, None), (899987, 'M', 25.73, 17.46, 174.2, 2010.0, 0.1149, 0.2363, 0.3368, 0.1913, 0.1956, 0.06121, 0.9948, 0.8509, 7.222, 153.1, 0.006369, 0.04243, 0.04266, 0.01508, 0.02335, 0.003385, 33.13, 23.58, 229.3, 3234.0, 0.153, 0.5937, 0.6451, 0.2756, 0.369, 0.08815, None), (9011971, 'M', 21.71, 17.25, 140.9, 1546.0, 0.09384, 0.08562, 0.1168, 0.08465, 0.1717, 0.05054, 1.207, 1.051, 7.733, 224.1, 0.005568, 0.01112, 0.02096, 0.01197, 0.01263, 0.001803, 30.75, 26.44, 199.5, 3143.0, 0.1363, 0.1628, 0.2861, 0.182, 0.251, 0.06494, None), (9012000, 'M', 22.01, 21.9, 147.2, 1482.0, 0.1063, 0.1954, 0.2448, 0.1501, 0.1824, 0.0614, 1.008, 0.6999, 7.561, 130.2, 0.003978, 0.02821, 0.03576, 0.01471, 0.01518, 0.003796, 27.66, 25.8, 195.0, 2227.0, 0.1294, 0.3885, 0.4756, 0.2432, 0.2741, 0.08574, None), (9012795, 'M', 21.37, 15.1, 141.3, 1386.0, 0.1001, 0.1515, 0.1932, 0.1255, 0.1973, 0.06183, 0.3414, 1.309, 2.407, 39.06, 0.004426, 0.02675, 0.03437, 0.01343, 0.01675, 0.004367, 22.69, 21.84, 152.1, 1535.0, 0.1192, 0.284, 0.4024, 0.1966, 0.273, 0.08666, None), (901288, 'M', 20.64, 17.35, 134.8, 1335.0, 0.09446, 0.1076, 0.1527, 0.08941, 0.1571, 0.05478, 0.6137, 0.6575, 4.119, 77.02, 0.006211, 0.01895, 0.02681, 0.01232, 0.01276, 0.001711, 25.37, 23.17, 166.8, 1946.0, 0.1562, 0.3055, 0.4159, 0.2112, 0.2689, 0.07055, None), (903516, 'M', 21.61, 22.28, 144.4, 1407.0, 0.1167, 0.2087, 0.281, 0.1562, 0.2162, 0.06606, 0.6242, 0.9209, 4.158, 80.99, 0.005215, 0.03726, 0.04718, 0.01288, 0.02045, 0.004028, 26.23, 28.74, 172.0, 2081.0, 0.1502, 0.5717, 0.7053, 0.2422, 0.3828, 0.1007, None), (911157302, 'M', 21.1, 20.52, 138.1, 1384.0, 0.09684, 0.1175, 0.1572, 0.1155, 0.1554, 0.05661, 0.6643, 1.361, 4.542, 81.89, 0.005467, 0.02075, 0.03185, 0.01466, 0.01029, 0.002205, 25.68, 32.07, 168.2, 2022.0, 0.1368, 0.3101, 0.4399, 0.228, 0.2268, 0.07425, None), (911296202, 'M', 27.42, 26.27, 186.9, 2501.0, 0.1084, 0.1988, 0.3635, 0.1689, 0.2061, 0.05623, 2.547, 1.306, 18.65, 542.2, 0.00765, 0.05374, 0.08055, 0.02598, 0.01697, 0.004558, 36.04, 31.37, 251.2, 4254.0, 0.1357, 0.4256, 0.6833, 0.2625, 0.2641, 0.07427, None), (91485, 'M', 20.59, 21.24, 137.8, 1320.0, 0.1085, 0.1644, 0.2188, 0.1121, 0.1848, 0.06222, 0.5904, 1.216, 4.206, 75.09, 0.006666, 0.02791, 0.04062, 0.01479, 0.01117, 0.003727, 23.86, 30.76, 163.2, 1760.0, 0.1464, 0.3597, 0.5179, 0.2113, 0.248, 0.08999, None), (915143, 'M', 23.09, 19.83, 152.1, 1682.0, 0.09342, 0.1275, 0.1676, 0.1003, 0.1505, 0.05484, 1.291, 0.7452, 9.635, 180.2, 0.005753, 0.03356, 0.03976, 0.02156, 0.02201, 0.002897, 30.79, 23.87, 211.5, 2782.0, 0.1199, 0.3625, 0.3794, 0.2264, 0.2908, 0.07277, None), (91762702, 'M', 24.63, 21.6, 165.5, 1841.0, 0.103, 0.2106, 0.231, 0.1471, 0.1991, 0.06739, 0.9915, 0.9004, 7.05, 139.9, 0.004989, 0.03212, 0.03571, 0.01597, 0.01879, 0.00476, 29.92, 26.93, 205.7, 2642.0, 0.1342, 0.4188, 0.4658, 0.2475, 0.3157, 0.09671, None), (919555, 'M', 20.55, 20.86, 137.8, 1308.0, 0.1046, 0.1739, 0.2085, 0.1322, 0.2127, 0.06251, 0.6986, 0.9901, 4.706, 87.78, 0.004578, 0.02616, 0.04005, 0.01421, 0.01948, 0.002689, 24.3, 25.48, 160.2, 1809.0, 0.1268, 0.3135, 0.4433, 0.2148, 0.3077, 0.07569, None), (926125, 'M', 20.92, 25.09, 143.0, 1347.0, 0.1099, 0.2236, 0.3174, 0.1474, 0.2149, 0.06879, 0.9622, 1.026, 8.758, 118.8, 0.006399, 0.0431, 0.07845, 0.02624, 0.02057, 0.006213, 24.29, 29.41, 179.1, 1819.0, 0.1407, 0.4186, 0.6599, 0.2542, 0.2929, 0.09873, None), (926424, 'M', 21.56, 22.39, 142.0, 1479.0, 0.111, 0.1159, 0.2439, 0.1389, 0.1726, 0.05623, 1.176, 1.256, 7.673, 158.7, 0.0103, 0.02891, 0.05198, 0.02454, 0.01114, 0.004239, 25.45, 26.4, 166.1, 2027.0, 0.141, 0.2113, 0.4107, 0.2216, 0.206, 0.07115, None)]

In [5]:
# 3: In the same db create a new table called tomatch with two variables id_ and rdm_float.
import sqlite3

# Connexion à la base de données SQLite
conn = sqlite3.connect('C:/Users/celes/OneDrive/Documents/M1/S2/Infrastructures/NoSQL/data/Chap1/bc.db')
c = conn.cursor()

# Insérez le DataFrame dans la table de la base de données SQLite
df.to_sql('bc_table', conn, if_exists='replace', index=False)

# Fonction pour créer la table "tomatch"
def create_table_tomatch():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS tomatch (
                     id_ INTEGER PRIMARY KEY,
                     rdm_float REAL
                     )""")
        # Création d'un index sur la colonne "id_" pour améliorer les performances des opérations de recherche
        c.execute("CREATE INDEX IF NOT EXISTS fast_id_tomatch ON tomatch(id_)")
        conn.commit()
    except Exception as e:
        print(str(e))

# Appel de la fonction pour créer la table "tomatch"
create_table_tomatch()

In [7]:
# 4: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.
import random

start_id = 50000
end_id = 10000000

for id_ in range(start_id, end_id + 1, 2):
    rdm_float = random.uniform(0, 1)
    
    c.execute("INSERT INTO tomatch (id_, rdm_float) VALUES (?, ?)", (id_, rdm_float))

conn.commit()

In [12]:
# 5: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

c.execute("""
          SELECT
              bc_table.*,  
              tomatch.rdm_float,
              COUNT(tomatch.id_) AS count_tomatch,  
              SUM(tomatch.rdm_float) AS sum_rdm_float,  
              AVG(tomatch.rdm_float) AS avg_rdm_float,  
              MAX(tomatch.rdm_float) AS max_rdm_float,  
              MIN(tomatch.rdm_float) AS min_rdm_float   
          FROM
              bc_table
          INNER JOIN
              tomatch ON bc_table.id = tomatch.id_
          """)

results = c.fetchall()

for row in results:
    print(row)

(879830, 'M', 17.01, 20.26, 109.7, 904.3, 0.08772, 0.07304, 0.0695, 0.0539, 0.2026, 0.05223, 0.5858, 0.8554, 4.106, 68.46, 0.005038, 0.01503, 0.01946, 0.01123, 0.02294, 0.002581, 19.8, 25.05, 130.0, 1210.0, 0.1111, 0.1486, 0.1932, 0.1096, 0.3275, 0.06469, None, 0.002040086880798375, 243, 121.29516971905103, 0.49915707703313184, 0.9969561167446959, 0.002040086880798375)

In [20]:
# 6: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

c.execute("SELECT COUNT(*) FROM bc_table WHERE radius_mean > 15")

count_radius_mean_gt_15 = c.fetchone()[0]

print("Radius moyen supérieur à 15 :", count_radius_mean_gt_15)

c.execute("SELECT COUNT(*) FROM bc_table WHERE radius_mean > 15 AND texture_mean > 20")

count_both_gt_15_20 = c.fetchone()[0]

print("Radius moyen supérieur à 15 ET texture moyenne supérieure à 20 :", count_both_gt_15_20)

Radius moyen supérieur à 15 : 173
Radius moyen supérieur à 15 ET texture moyenne supérieure à 20 : 106

In [21]:
# 7: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups
# Exécuter une requête SQL pour calculer la moyenne de la variable souhaitée pour chaque catégorie de diagnostic
c.execute("""
          SELECT
              diagnosis,
              ROUND(AVG(radius_mean), 2) AS avg_radius_mean,  -- Moyenne arrondie de radius_mean avec 2 chiffres après la virgule
              ROUND(AVG(texture_mean), 2) AS avg_texture_mean   -- Moyenne arrondie de texture_mean avec 2 chiffres après la virgule
          FROM
              bc_table
          GROUP BY
              diagnosis
          """)

# Récupérer les résultats de la requête
results = c.fetchall()

# Afficher les résultats
for row in results:
    print("Diagnosis:", row[0])
    print("Average radius_mean:", row[1])
    print("Average texture_mean:", row[2])
    print()

# Calculer la différence entre les moyennes des deux groupes
diff_avg_radius_mean = results[0][1] - results[1][1]
diff_avg_texture_mean = results[0][2] - results[1][2]

print("Difference in average radius_mean between the two groups:", diff_avg_radius_mean)
print("Difference in average texture_mean between the two groups:", diff_avg_texture_mean)

Diagnosis: B
Average radius_mean: 12.15
Average texture_mean: 17.91

Diagnosis: M
Average radius_mean: 17.46
Average texture_mean: 21.6

Difference in average radius_mean between the two groups: -5.3100000000000005
Difference in average texture_mean between the two groups: -3.6900000000000013

In [22]:
# 8: Change the name of the column "diagnosis" to "label"
c.execute("ALTER TABLE bc_table RENAME COLUMN diagnosis TO label")

conn.commit()

In [23]:
# 9: Add a column named "day" of type DATE.
c.execute("ALTER TABLE bc_table ADD COLUMN day DATE")

conn.commit()

In [24]:
# 10: Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)
c.execute("ALTER TABLE bc_table ADD COLUMN area_mean_new INTEGER")

c.execute("UPDATE bc_table SET area_mean_new = CAST(area_mean AS INTEGER)")

c.execute("ALTER TABLE bc_table DROP COLUMN area_mean")

c.execute("ALTER TABLE bc_table RENAME COLUMN area_mean_new TO area_mean")

conn.commit()

In [26]:
# Histoire de s'assurer que tout cela a bien fonctionné :
c.execute("PRAGMA table_info(bc_table)")

columns_info = c.fetchall()

for column_info in columns_info:
    print(column_info)

(0, 'id', 'INTEGER', 0, None, 0)
(1, 'label', 'TEXT', 0, None, 0)
(2, 'radius_mean', 'REAL', 0, None, 0)
(3, 'texture_mean', 'REAL', 0, None, 0)
(4, 'perimeter_mean', 'REAL', 0, None, 0)
(5, 'smoothness_mean', 'REAL', 0, None, 0)
(6, 'compactness_mean', 'REAL', 0, None, 0)
(7, 'concavity_mean', 'REAL', 0, None, 0)
(8, 'concave points_mean', 'REAL', 0, None, 0)
(9, 'symmetry_mean', 'REAL', 0, None, 0)
(10, 'fractal_dimension_mean', 'REAL', 0, None, 0)
(11, 'radius_se', 'REAL', 0, None, 0)
(12, 'texture_se', 'REAL', 0, None, 0)
(13, 'perimeter_se', 'REAL', 0, None, 0)
(14, 'area_se', 'REAL', 0, None, 0)
(15, 'smoothness_se', 'REAL', 0, None, 0)
(16, 'compactness_se', 'REAL', 0, None, 0)
(17, 'concavity_se', 'REAL', 0, None, 0)
(18, 'concave points_se', 'REAL', 0, None, 0)
(19, 'symmetry_se', 'REAL', 0, None, 0)
(20, 'fractal_dimension_se', 'REAL', 0, None, 0)
(21, 'radius_worst', 'REAL', 0, None, 0)
(22, 'texture_worst', 'REAL', 0, None, 0)
(23, 'perimeter_worst', 'REAL', 0, None, 0)
(24, 'area_worst', 'REAL', 0, None, 0)
(25, 'smoothness_worst', 'REAL', 0, None, 0)
(26, 'compactness_worst', 'REAL', 0, None, 0)
(27, 'concavity_worst', 'REAL', 0, None, 0)
(28, 'concave points_worst', 'REAL', 0, None, 0)
(29, 'symmetry_worst', 'REAL', 0, None, 0)
(30, 'fractal_dimension_worst', 'REAL', 0, None, 0)
(31, 'Unnamed: 32', 'REAL', 0, None, 0)
(32, 'day', 'DATE', 0, None, 0)
(33, 'area_mean', 'INTEGER', 0, None, 0)

In [29]:
# 11: create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.
c.execute("""
          CREATE TABLE tomatch2 AS
          SELECT id_ + 10 AS id_, rdm_float
          FROM tomatch
          """)

conn.commit()

OperationalError: table tomatch2 already exists

In [33]:
# 12: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2.
# Exécuter une requête SQL pour effectuer une jointure interne des tables "bc", "tomatch" et "tomatch2" avec les conditions spécifiées
c.execute("""
          SELECT *
          FROM bc_table
          INNER JOIN tomatch ON bc_table.id = tomatch.id_
          INNER JOIN tomatch2 ON bc_table.id = tomatch2.id_
          WHERE bc_table.radius_mean > 15
          AND tomatch.rdm_float > 0.50
          AND tomatch2.rdm_float > 0.50
          """)

# Récupérer les résultats de la requête
results = c.fetchall()

# Afficher les résultats
for row in results:
    print(row)

(87164, 'M', 15.46, 11.89, 102.5, 0.1257, 0.1555, 0.2032, 0.1097, 0.1966, 0.07069, 0.4209, 0.6583, 2.805, 44.64, 0.005393, 0.02321, 0.04303, 0.0132, 0.01792, 0.004168, 18.79, 17.04, 125.0, 1102.0, 0.1531, 0.3583, 0.583, 0.1827, 0.3216, 0.101, None, None, 736, 87164, 0.6465870278133737, 87164, 0.5321297082203661)
(89122, 'M', 19.4, 18.18, 127.2, 0.1037, 0.1442, 0.1626, 0.09464, 0.1893, 0.05892, 0.4709, 0.9951, 2.903, 53.16, 0.005654, 0.02199, 0.03059, 0.01499, 0.01623, 0.001965, 23.79, 28.65, 152.4, 1628.0, 0.1518, 0.3749, 0.4316, 0.2252, 0.359, 0.07787, None, None, 1145, 89122, 0.6824121234777615, 89122, 0.6639319076071202)
(90312, 'M', 19.55, 23.21, 128.9, 0.101, 0.1318, 0.1856, 0.1021, 0.1989, 0.05884, 0.6107, 2.836, 5.383, 70.1, 0.01124, 0.04097, 0.07469, 0.03441, 0.02768, 0.00624, 20.82, 30.44, 142.0, 1313.0, 0.1251, 0.2414, 0.3829, 0.1825, 0.2576, 0.07602, None, None, 1174, 90312, 0.5202827589892343, 90312, 0.9553715195488964)
(845636, 'M', 16.02, 23.24, 102.7, 0.08206, 0.06669, 0.03299, 0.03323, 0.1528, 0.05697, 0.3795, 1.187, 2.466, 40.51, 0.004029, 0.009269, 0.01101, 0.007591, 0.0146, 0.003042, 19.19, 33.88, 123.8, 1150.0, 0.1181, 0.1551, 0.1459, 0.09975, 0.2948, 0.08452, None, None, 797, 845636, 0.5342712934607052, 845636, 0.6116406396725731)
(846226, 'M', 19.17, 24.8, 132.4, 0.0974, 0.2458, 0.2065, 0.1118, 0.2397, 0.078, 0.9555, 3.568, 11.07, 116.2, 0.003139, 0.08297, 0.0889, 0.0409, 0.04484, 0.01284, 20.96, 29.94, 151.7, 1332.0, 0.1037, 0.3903, 0.3639, 0.1767, 0.3176, 0.1023, None, None, 1123, 846226, 0.7015429330025367, 846226, 0.9840505979962334)
(866674, 'M', 19.79, 25.12, 130.4, 0.1015, 0.1589, 0.2545, 0.1149, 0.2202, 0.06113, 0.4953, 1.199, 2.765, 63.33, 0.005033, 0.03179, 0.04755, 0.01043, 0.01578, 0.003224, 22.63, 33.58, 148.7, 1589.0, 0.1275, 0.3861, 0.5673, 0.1732, 0.3305, 0.08465, None, None, 1192, 866674, 0.7902435427850235, 866674, 0.6306173479283096)
(869104, 'M', 16.11, 18.05, 105.1, 0.09721, 0.1137, 0.09447, 0.05943, 0.1861, 0.06248, 0.7049, 1.332, 4.533, 74.08, 0.00677, 0.01938, 0.03067, 0.01167, 0.01875, 0.003434, 19.92, 25.27, 129.0, 1233.0, 0.1314, 0.2236, 0.2802, 0.1216, 0.2792, 0.08158, None, None, 813, 869104, 0.6422941632103566, 869104, 0.6845030896102193)
(873592, 'M', 27.22, 21.87, 182.1, 0.1094, 0.1914, 0.2871, 0.1878, 0.18, 0.0577, 0.8361, 1.481, 5.82, 128.7, 0.004631, 0.02537, 0.03109, 0.01241, 0.01575, 0.002747, 33.12, 32.85, 220.8, 3216.0, 0.1472, 0.4034, 0.534, 0.2688, 0.2856, 0.08082, None, None, 2250, 873592, 0.5436218496332055, 873592, 0.6368088639889683)
(888264, 'M', 17.35, 23.06, 111.0, 0.08662, 0.0629, 0.02891, 0.02837, 0.1564, 0.05307, 0.4007, 1.317, 2.577, 44.41, 0.005726, 0.01106, 0.01246, 0.007671, 0.01411, 0.001578, 19.85, 31.47, 128.2, 1218.0, 0.124, 0.1486, 0.1211, 0.08235, 0.2452, 0.06515, None, None, 933, 888264, 0.8458483558318678, 888264, 0.6004891829436859)
(888570, 'M', 17.29, 22.13, 114.4, 0.08999, 0.1273, 0.09697, 0.07507, 0.2108, 0.05464, 0.8348, 1.633, 6.146, 90.94, 0.006717, 0.05981, 0.04638, 0.02149, 0.02747, 0.005838, 20.39, 27.24, 137.9, 1295.0, 0.1134, 0.2867, 0.2298, 0.1528, 0.3067, 0.07484, None, None, 947, 888570, 0.9548633819400916, 888570, 0.9403921966396741)
(894326, 'M', 18.22, 18.87, 118.7, 0.09746, 0.1117, 0.113, 0.0795, 0.1807, 0.05664, 0.4041, 0.5503, 2.547, 48.9, 0.004821, 0.01659, 0.02408, 0.01143, 0.01275, 0.002451, 21.84, 25.0, 140.9, 1485.0, 0.1434, 0.2763, 0.3853, 0.1776, 0.2812, 0.08198, None, None, 1027, 894326, 0.9042122445404515, 894326, 0.6386154896717585)
(895100, 'M', 20.34, 21.51, 135.9, 0.117, 0.1875, 0.2565, 0.1504, 0.2569, 0.0667, 0.5702, 1.023, 4.012, 69.06, 0.005485, 0.02431, 0.0319, 0.01369, 0.02768, 0.003345, 25.3, 31.86, 171.1, 1938.0, 0.1592, 0.4492, 0.5344, 0.2685, 0.5558, 0.1024, None, None, 1264, 895100, 0.7904146869181504, 895100, 0.8954982297323425)
(901288, 'M', 20.64, 17.35, 134.8, 0.09446, 0.1076, 0.1527, 0.08941, 0.1571, 0.05478, 0.6137, 0.6575, 4.119, 77.02, 0.006211, 0.01895, 0.02681, 0.01232, 0.01276, 0.001711, 25.37, 23.17, 166.8, 1946.0, 0.1562, 0.3055, 0.4159, 0.2112, 0.2689, 0.07055, None, None, 1335, 901288, 0.5699402413456754, 901288, 0.7958730003193509)
(905680, 'M', 15.13, 29.81, 96.71, 0.0832, 0.04605, 0.04686, 0.02739, 0.1852, 0.05294, 0.4681, 1.627, 3.043, 45.38, 0.006831, 0.01427, 0.02489, 0.009087, 0.03151, 0.00175, 17.26, 36.91, 110.1, 931.4, 0.1148, 0.09866, 0.1547, 0.06575, 0.3233, 0.06165, None, None, 719, 905680, 0.9610041914876014, 905680, 0.7849337416627297)
(911916, 'M', 16.25, 19.51, 109.8, 0.1026, 0.1893, 0.2236, 0.09194, 0.2151, 0.06578, 0.3147, 0.9857, 3.07, 33.12, 0.009197, 0.0547, 0.08079, 0.02215, 0.02773, 0.006355, 17.39, 23.05, 122.1, 939.7, 0.1377, 0.4462, 0.5897, 0.1775, 0.3318, 0.09136, None, None, 815, 911916, 0.5162859540170294, 911916, 0.7808986652284449)
(916838, 'M', 19.89, 20.26, 130.5, 0.1037, 0.131, 0.1411, 0.09431, 0.1802, 0.06188, 0.5079, 0.8737, 3.654, 59.7, 0.005089, 0.02303, 0.03052, 0.01178, 0.01057, 0.003391, 23.73, 25.23, 160.5, 1646.0, 0.1417, 0.3309, 0.4185, 0.1613, 0.2549, 0.09136, None, None, 1214, 916838, 0.6809893405838088, 916838, 0.9223408634908652)
(8711202, 'M', 17.68, 20.74, 117.4, 0.1115, 0.1665, 0.1855, 0.1054, 0.1971, 0.06166, 0.8113, 1.4, 5.54, 93.91, 0.009037, 0.04954, 0.05206, 0.01841, 0.01778, 0.004968, 20.47, 25.11, 132.9, 1302.0, 0.1418, 0.3498, 0.3583, 0.1515, 0.2463, 0.07738, None, None, 963, 8711202, 0.9803652735693155, 8711202, 0.9125075797742438)
(8711216, 'B', 16.84, 19.46, 108.4, 0.07445, 0.07223, 0.0515, 0.02771, 0.1844, 0.05268, 0.4789, 2.06, 3.479, 46.61, 0.003443, 0.02661, 0.03056, 0.0111, 0.0152, 0.001519, 18.22, 28.07, 120.3, 1032.0, 0.08774, 0.171, 0.1882, 0.08436, 0.2527, 0.05972, None, None, 880, 8711216, 0.7753142715004009, 8711216, 0.5126613061585106)
(8811842, 'M', 19.8, 21.56, 129.7, 0.09383, 0.1306, 0.1272, 0.08691, 0.2094, 0.05581, 0.9553, 1.186, 6.487, 124.4, 0.006804, 0.03169, 0.03446, 0.01712, 0.01897, 0.004045, 25.73, 28.64, 170.3, 2009.0, 0.1353, 0.3235, 0.3617, 0.182, 0.307, 0.08255, None, None, 1230, 8811842, 0.570340843133322, 8811842, 0.7515397208680102)
(8911670, 'M', 18.81, 19.98, 120.9, 0.08923, 0.05884, 0.0802, 0.05843, 0.155, 0.04996, 0.3283, 0.828, 2.363, 36.74, 0.007571, 0.01114, 0.02623, 0.01463, 0.0193, 0.001676, 19.96, 24.3, 129.0, 1236.0, 0.1243, 0.116, 0.221, 0.1294, 0.2567, 0.05737, None, None, 1102, 8911670, 0.7096754145592024, 8911670, 0.946784941284013)
(8912280, 'M', 16.24, 18.77, 108.8, 0.1066, 0.1802, 0.1948, 0.09052, 0.1876, 0.06684, 0.2873, 0.9173, 2.464, 28.09, 0.004563, 0.03481, 0.03872, 0.01209, 0.01388, 0.004081, 18.55, 25.09, 126.9, 1031.0, 0.1365, 0.4706, 0.5026, 0.1732, 0.277, 0.1063, None, None, 805, 8912280, 0.5149932282387193, 8912280, 0.7043291189657042)
(9010872, 'B', 16.5, 18.29, 106.6, 0.09686, 0.08468, 0.05862, 0.04835, 0.1495, 0.05593, 0.3389, 1.439, 2.344, 33.58, 0.007257, 0.01805, 0.01832, 0.01033, 0.01694, 0.002001, 18.13, 25.45, 117.2, 1009.0, 0.1338, 0.1679, 0.1663, 0.09123, 0.2394, 0.06469, None, None, 838, 9010872, 0.5814274719872755, 9010872, 0.7492857716758748)
(9113538, 'M', 17.6, 23.33, 119.0, 0.09289, 0.2004, 0.2136, 0.1002, 0.1696, 0.07369, 0.9289, 1.465, 5.801, 104.9, 0.006766, 0.07025, 0.06591, 0.02311, 0.01673, 0.0113, 21.57, 28.87, 143.6, 1437.0, 0.1207, 0.4785, 0.5165, 0.1996, 0.2301, 0.1224, None, None, 980, 9113538, 0.6256058429157735, 9113538, 0.8284823755184753)

In [ ]:
#MySQL

In [55]:
# 1: How many orders were placed in total?
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute("SELECT COUNT(*) FROM sample_superstore")

total_orders = c.fetchone()[0]

print("Nombre de commandes :", total_orders)

Nombre de commandes : 175

In [44]:
# 2: What is the total sales amount?
c.execute("SELECT ROUND(SUM(Sales), 2) FROM sample_superstore")

total_sales_amount=c.fetchone()[0]

print("Montant total des ventes :", total_sales_amount)

Montant total des ventes : 130555.31

In [56]:
# 3: What is the average profit per order?
c.execute("SELECT ROUND(AVG(Profit), 2) FROM sample_superstore")

average_profit_per_order = c.fetchone()[0]

print("Bénéfice moyen par commande :", average_profit_per_order)

Bénéfice moyen par commande : 136.04

In [57]:
# 4: Which customer has placed the most orders?
c.execute("""
    SELECT `Customer Name`, COUNT(*) AS num_orders
    FROM sample_superstore
    GROUP BY `Customer Name`
    ORDER BY num_orders DESC
    LIMIT 1
""")

customer_most_orders = c.fetchone()

if customer_most_orders:
    print("Client avec le plus de commandes :", customer_most_orders[0], "avec", customer_most_orders[1], "commandes")
else:
    print("Pas de client trouvé")

Client avec le plus de commandes : Tony Wilkins Winters avec 12 commandes

In [59]:
# 5: What is the total profit for each product category?
c.execute("""
    SELECT `Product Category`, SUM(Profit) AS total_profit
    FROM sample_superstore
    GROUP BY `Product Category`
""")

product_category_profit = c.fetchall()

for row in product_category_profit:
    print("Catégorie:", row[0], "- Profit Total:", row[1])

Catégorie: Office Supplies - Profit Total: 11605.983540000001
Catégorie: Technology - Profit Total: 10225.340091999999
Catégorie: Furniture - Profit Total: 1976.0725965000036

In [60]:
# 6: What is the average discount percentage?
c.execute("SELECT AVG(Discount) FROM sample_superstore")

# Récupérer le résultat de la requête
average_discount_percentage = c.fetchone()[0]

# Afficher le pourcentage moyen de remise
print("Pourcentage moyen de remise :", average_discount_percentage)

Pourcentage moyen de remise : 0.0496571428571428

In [62]:
# 7: Which region has the highest total sales?
c.execute("""
    SELECT Region, SUM(Sales) AS total_sales
    FROM sample_superstore
    GROUP BY Region
    ORDER BY total_sales DESC
    LIMIT 1
""")

region_highest_sales = c.fetchone()

print("Région avec le plus de ventes :", region_highest_sales[0], "avec un montant des ventes s'élevant à", region_highest_sales[1])

Région avec le plus de ventes : West avec un montant des ventes s'élevant à 75678.49999999999

In [63]:
# 8: How many orders were shipped using each shipping mode?
c.execute("""
    SELECT `Ship Mode`, COUNT(*) AS num_orders
    FROM sample_superstore
    GROUP BY `Ship Mode`
""")

shipping_mode_orders = c.fetchall()

for row in shipping_mode_orders:
    print("Mode d'envoi:", row[0], "- Nombre de commandes :", row[1])

Mode d'envoi: Regular Air - Nombre de commandes : 131
Mode d'envoi: Express Air - Nombre de commandes : 23
Mode d'envoi: Delivery Truck - Nombre de commandes : 21

In [43]:
# 9: What is the total quantity ordered for each product sub-category?
c.execute("""
    SELECT `Product Sub-Category`, SUM(`Quantity ordered new`) AS total_quantity_ordered
    FROM sample_superstore
    GROUP BY `Product Sub-Category`
""")

product_subcategory_quantity = c.fetchall()

for row in product_subcategory_quantity:
    print("Product Sub-Category:", row[0], "- Total Quantity Ordered:", row[1])

Product Sub-Category: Labels - Total Quantity Ordered: 171
Product Sub-Category: Pens & Art Supplies - Total Quantity Ordered: 196
Product Sub-Category: Paper - Total Quantity Ordered: 286
Product Sub-Category: Scissors, Rulers and Trimmers - Total Quantity Ordered: 24
Product Sub-Category: Telephones and Communication - Total Quantity Ordered: 252
Product Sub-Category: Office Machines - Total Quantity Ordered: 123
Product Sub-Category: Chairs & Chairmats - Total Quantity Ordered: 166
Product Sub-Category: Appliances - Total Quantity Ordered: 184
Product Sub-Category: Bookcases - Total Quantity Ordered: 39
Product Sub-Category: Tables - Total Quantity Ordered: 50
Product Sub-Category: Envelopes - Total Quantity Ordered: 46
Product Sub-Category: Office Furnishings - Total Quantity Ordered: 233
Product Sub-Category: Rubber Bands - Total Quantity Ordered: 119
Product Sub-Category: Binders and Binder Accessories - Total Quantity Ordered: 129
Product Sub-Category: Storage & Organization - Total Quantity Ordered: 121
Product Sub-Category: Copiers and Fax - Total Quantity Ordered: 5
Product Sub-Category: Computer Peripherals - Total Quantity Ordered: 69

In [40]:
# 10: Which product has the highest profit margin?
c.execute("""
    SELECT `Product Name`, `Product Base Margin`
    FROM sample_superstore
    WHERE `Product Base Margin` = (
        SELECT MAX(`Product Base Margin`)
        FROM sample_superstore
    )
""")

product_highest_profit_margin = c.fetchone()

if product_highest_profit_margin:
    print("Product with the highest profit margin:", product_highest_profit_margin[0], "with a profit margin of", product_highest_profit_margin[1])
else:
    print("No product found.")

Product with the highest profit margin: Accessory29 with a profit margin of 0.83

In [54]:
# 11: What is the total sales amount for each year?
c.execute("""
    SELECT YEAR(STR_TO_DATE(`Order Date`, '%m/%d/%Y')) AS Year, SUM(Sales) AS Total_Sales
    FROM sample_superstore
    GROUP BY YEAR(STR_TO_DATE(`Order Date`, '%m/%d/%Y'))
    ORDER BY YEAR(STR_TO_DATE(`Order Date`, '%m/%d/%Y'))
""")

sales_by_year = c.fetchall()

for year, total_sales in sales_by_year:
    print("Year:", year, "- Total Sales:", total_sales)

Year: 2010 - Total Sales: 25377.779999999995
Year: 2011 - Total Sales: 12048.119999999997
Year: 2012 - Total Sales: 44893.209999999985
Year: 2013 - Total Sales: 48236.200000000004

In [51]:
# 12: Which customer segment has the highest average sales?
c.execute("""
    SELECT `Customer Segment`, AVG(Sales) AS avg_sales
    FROM sample_superstore
    GROUP BY `Customer Segment`
    ORDER BY avg_sales DESC
    LIMIT 1
""")

highest_avg_sales_segment = c.fetchone()

if highest_avg_sales_segment:
    print("Customer segment with the highest average sales:", highest_avg_sales_segment[0], "with an average sales of", highest_avg_sales_segment[1])
else:
    print("No segment found.")

Customer segment with the highest average sales: Small Business with an average sales of 1041.5648076923078

In [ ]:
# PostgreSQL

In [69]:
# 1: What is the average age of the customers?
import psycopg2

# Connect to PostgreSQL database
conn = psycopg2.connect(dbname="new_db", user="postgres", password="delpotro98", host="localhost", port="5432")

# Create a cursor object
cur = conn.cursor()

# Execute the query to calculate the average age
cur.execute("SELECT AVG(age) FROM bank_full")

# Fetch the result
average_age = cur.fetchone()[0]

print("Moyenne d'âge des clients :", average_age)

Moyenne d'âge des clients : 40.9362102143283714

In [70]:
# 2: How many customers have defaulted on loans?
cur.execute("SELECT COUNT(*) FROM bank_full WHERE default_ = 'yes'")

# Fetch the result
defaulted_customers_count = cur.fetchone()[0]

print("Nombre de clients ayant un défaut de paiement sur les prêts :", defaulted_customers_count)

Nombre de clients ayant un défaut de paiement sur les prêts : 815

In [72]:
# 3: What is the maximum balance in the account?
cur.execute("SELECT MAX(balance) FROM bank_full")

max_balance = cur.fetchone()[0]

print("Solde maximum dans le compte :", max_balance)

Solde maximum dans le compte : 102127

In [74]:
# 4: How many customers have a housing loan?
cur.execute("SELECT COUNT(*) FROM bank_full WHERE housing = 'yes'")

num_customers_with_housing_loan = cur.fetchone()[0]

print("Nombre de clients avec un prêt immobilier :", num_customers_with_housing_loan)

Nombre de clients avec un prêt immobilier : 25130

In [75]:
# 5: What is the education level of the youngest customer?
cur.execute("SELECT education FROM bank_full ORDER BY age LIMIT 1")

education_youngest_customer = cur.fetchone()[0]

print("Niveau d'éducation du client le plus jeune :", education_youngest_customer)

Niveau d'éducation du client le plus jeune : primary

In [76]:
# 6: What is the marital status of the oldest customer?
cur.execute("SELECT marital FROM bank_full ORDER BY age DESC LIMIT 1")

marital_status_oldest_customer = cur.fetchone()[0]

print("Statut matrimonial du client le plus âgé :", marital_status_oldest_customer)

Statut matrimonial du client le plus âgé : divorced

In [77]:
# 7: What is the distribution of the months in which customers were last contacted?
cur.execute("SELECT month, COUNT(*) FROM bank_full GROUP BY month ORDER BY month")

month_distribution = cur.fetchall()

print("Distribution des mois de dernier contact des clients :")
for month, count in month_distribution:
    print(month, ":", count)

Distribution des mois de dernier contact des clients :
apr : 2932
aug : 6247
dec : 214
feb : 2649
jan : 1403
jul : 6895
jun : 5341
mar : 477
may : 13766
nov : 3970
oct : 738
sep : 579

In [80]:
# 8: What is the average duration of contact for customers who have a personal loan?
cur.execute("SELECT ROUND(AVG(duration), 2) FROM bank_full WHERE loan = 'yes'")

average_duration = cur.fetchone()[0]

print("Durée moyenne de contact pour les clients avec un prêt personnel :", average_duration)

Durée moyenne de contact pour les clients avec un prêt personnel : 250.85

In [88]:
# 9: How many customers were previously contacted, and what was the average duration of their last contact?
cur.execute("SELECT COUNT(*) FROM bank_full WHERE pdays != -1")
num_customers_contacted = cur.fetchone()[0]

cur.execute("SELECT ROUND(AVG(duration), 2) FROM bank_full WHERE pdays != -1")
average_duration_last_contact = cur.fetchone()[0]

print("Nombre de clients précédemment contactés :", num_customers_contacted)
print("Durée moyenne du dernier contact des clients précédemment contactés :", average_duration_last_contact)

Nombre de clients précédemment contactés : 8257
Durée moyenne du dernier contact des clients précédemment contactés : 260.12

In [83]:
# 10: What is the distribution of job types among customers?
cur.execute("SELECT job, COUNT(*) FROM bank_full GROUP BY job ORDER BY COUNT(*) DESC")

job_distribution = cur.fetchall()

print("Distribution des types d'emploi parmi les clients :")
for row in job_distribution:
    print(row[0], ":", row[1])

Distribution des types d'emploi parmi les clients :
blue-collar : 9732
management : 9458
technician : 7597
admin. : 5171
services : 4154
retired : 2264
self-employed : 1579
entrepreneur : 1487
unemployed : 1303
housemaid : 1240
student : 938
unknown : 288

In [103]:
# 11: How many customers have been contacted more than once in the current campaign?
# Il semblerait qu'il n'y ait pas de colonne spécifique pour identifier les clients individuels (comme un ID par exemple). Nous prendrons donc une combinaison de colonnes qui, ensemble, pourraient identifier de manière unique un client(age, job, marital et education dans mon cas). 
cur.execute("""
        SELECT COUNT(*) FROM (
            SELECT age, job, marital, education, COUNT(*) 
            FROM bank_full 
            GROUP BY age, job, marital, education 
            HAVING COUNT(*) > 1
        ) AS subquery
    """)

num_customers_contacted_multiple_times = cur.fetchone()[0]

print("Nombre de clients contactés plus d'une fois au cours de la campagne :", num_customers_contacted_multiple_times)

Nombre de clients contactés plus d'une fois au cours de la campagne : 2639

In [96]:
# 12: What is the success rate of previous marketing campaigns (poutcome) among customers
cur.execute("SELECT COUNT(*) FROM bank_full")
total_customers = cur.fetchone()[0]

cur.execute("SELECT COUNT(*) FROM bank_full WHERE poutcome = 'success'")
successful_customers = cur.fetchone()[0]

success_rate = (successful_customers / total_customers) * 100

print("Taux de réussite des campagnes marketing précédentes parmi les clients :", success_rate, "%")

Taux de réussite des campagnes marketing précédentes parmi les clients : 3.34210700935613 %